DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=junglegaming
DATABASE_PASSWORD=junglegaming
DATABASE_NAME=junglegaming

SQS_ENDPOINT=http://localhost:4566
SQS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SQS_INBOUND_QUEUE_NAME=wager-transactions.fifo
SQS_OUTBOUND_QUEUE_NAME=wager-events.fifo

PORT=3000
